body {
  background-image: url("./beach.jpg");
}

.navbar-brand:hover {
  background-color: transparent;
}

#name-card {
  margin-left: 30%;
  font-weight: 900;
  color: white;
}

#name-card:hover {
  font-weight: stronger;
  background-color: black;
  width: 100%;
  border: 10px solid black;
  border-radius: round;
  height: 100%;
}

.nav-transparency {
  background: #000000ce;
  background: rgba(14, 13, 13, 0.493);
}

.nav-link {
  font-weight: stronger;
  margin: 10px;
}

.container.about {
  margin: 0 auto;
  margin-top: 5%;
  overflow: hidden;
  margin-bottom: 7.5%;
  background: #000000ce;
  background: rgba(14, 13, 13, 0.61);
}

.pic-col {
  padding: 0;
}

.footer {
  font-weight: 900;
  color: white;
  text-align: center;
}

.foot-transparency {
  background: #000000ce;
  background: rgba(14, 13, 13, 0.493);
  height: 58px;
  padding-top: 18px;
}

#about-me {
  font-weight: 900;
  color: white;
  margin-top: 2%;
}

#about-text {
  font-weight: 900;
  color: white;
}

@media only screen and (max-width: 1200px) {
  #about-text {
    font-size: small;
  }
}

@media only screen and (max-width: 991px) {
  #about-text {
    font-size: x-small;
  }

  #name-card {
    margin: auto;
  }
}

.portfolio {
  text-align: center;
  padding: 0;
}

.contact {
  text-align: center;
  padding: 0;
}

.blog {
  text-align: center;
  padding: 0;
}

#portfolio-header {
  color: white;
  font-weight: 900;
}

.card-body {
  color: white;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.397);
}

#card1 {
  background-image: url("usb.jpg");
}

#card2 {
  background-image: url("usb.jpg");
}

#card2 {
  background-image: url("usb.jpg");
}

#card3 {
  background-image: url("usb.jpg");
}

#card4 {
  background-image: url("usb.jpg");
}

#card5 {
  background-image: url("usb.jpg");
}

#card6 {
  background-image: url("usb.jpg");
}

.container.contact {
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
}

@media only screen and (max-width: 999px) {
  #personal {
    font-size: smaller;
    text-align: center;
  }
}
